.article-page {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: 0px auto;
    justify-content: center;
    position: relative;
}



.article-content-page {
    margin-top: 30px;
    font-weight: 400;
}


.share-to,
.recent-posts {
    color: var(--aboutText);
    margin-top: 50px;
    margin-bottom: 10px;
}

.share-links {
    display: flex;
    justify-content: flex-start;
}

.btn-link-social {
    margin-right: 10px;
    cursor: pointer;
    font-weight: 300;
}



.suggest-card-article {
    display: flex;
    flex-direction: column;
    min-width: 300px;
    overflow-y: hidden;
    cursor: pointer;
    margin: 10px;
    margin-left: 0px;
}

.title-suggest {
    margin: 5px;
    margin-bottom: 0px;
    overflow: hidden;
    display: -webkit-box;
    /* fallback for older browsers */
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    /* number of lines to show */
    line-clamp: 2;
    /* number of lines to show */
    -webkit-box-orient: vertical;
    box-orient: vertical;
}

.description-suggest {
    margin: 5px;
    overflow: hidden;
    margin-bottom: 0px;
    display: -webkit-box;
    /* fallback for older browsers */
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    /* number of lines to show */
    line-clamp: 2;
    /* number of lines to show */
    -webkit-box-orient: vertical;
    box-orient: vertical;
}

.read-more-suggest {
    margin-left: 5px;
    color: var(--aboutText);
}

.read-more-suggest:hover {
    color: var(--textColor);
}



@media only screen and (max-width: 1000px) {
    .article-page {
        width: 90%;
    }
}