.article-page {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: 0px auto;
    justify-content: center;
    position: relative;
}


.article-title-page {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.description-article-page {
    orphans: 2;
    padding-bottom: 16pt;
    padding-top: 16pt;
    page-break-after: avoid;
    text-align: left;
    font-size: 1.4rem;
    font-weight: 500;
}

.article-content-page {
    margin-top: 30px;
    font-weight: 400;
}


.share-to,
.recent-posts {
    color: var(--aboutText);
    margin-top: 50px;
    margin-bottom: 10px;
}

.share-links {
    display: flex;
    justify-content: flex-start;
}

.btn-link-social {
    margin-right: 10px;
    cursor: pointer;
    font-weight: 300;
}

.share-ico {
    cursor: pointer;
    margin-right: 10px;

}


.suggest-card-article {
    display: flex;
    flex-direction: column;
    min-width: 300px;
    overflow-y: hidden;
    cursor: pointer;
    margin: 10px;
    margin-left: 0px;
}

.title-suggest {
    margin: 5px;
    margin-bottom: 0px;
    overflow: hidden;
    display: -webkit-box;
    padding-bottom: 0px;
    /* fallback for older browsers */
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    /* number of lines to show */
    line-clamp: 2;
    /* number of lines to show */
    -webkit-box-orient: vertical;
    box-orient: vertical;
}

.description-suggest {
    margin: 5px;
    overflow: hidden;
    margin-bottom: 0px;
    display: -webkit-box;
    /* fallback for older browsers */
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    /* number of lines to show */
    line-clamp: 2;
    /* number of lines to show */
    -webkit-box-orient: vertical;
    box-orient: vertical;
}

.read-more-suggest {
    margin-left: 5px;
    color: var(--aboutText);
}

.read-more-suggest:hover {
    color: var(--textColor);
}

.image-source {
    display: flex;
    font-size: .7rem;
    max-width: 300px;
    max-height: 30px;


}

img {
    width: 100%;
    height: auto;
}

.add-article{
  width: 100%;
}

.add-article-form{
    display: flex;
    flex-direction: column;
    margin: 40px;
}

.add-article-form label {
    margin-left: 3px;
    margin-bottom: 10px;
    position: relative;
}

.add-article-form input {
    margin-right: 10px;
    height: 33px;
    border-radius: 10px;
    outline: none;
    padding-left: 5px;
    padding-left: 10px;
    margin-bottom: 10px;
    background-color: var(--inputBg);
    border: var(--searchBorder);
}
.add-article-form input[type='checkbox']{
    height: 15px;
    margin-top: 10px;
    cursor: pointer;
}

.add-article-form textarea {
    margin-right: 10px;
    border-radius: 10px;
    outline: none;
    background-color: var(--inputBg);
    border: var(--searchBorder);
    padding-left: 5px;
    padding-left: 10px;
    margin-bottom: 20px;
    font-size: 1rem;
    padding: 10px;
    resize: none;
}


.add-article-form input[type='submit'] {
    display: flex;
    border-radius: 8px;
    margin-right: 1rem;
    align-items: center;
    justify-content: center;
    background-color: var(--btnbgColor);
    padding: 5px;
    width: 120px;
    align-self: flex-end;
    margin-bottom: 20px;
    cursor: pointer;
    box-shadow: var(--bxShadow);
    color: var(--textColor);
}


.author-data{
    display: flex;
    flex-direction: column;
}
.author-name , .author-description{
    margin: 0px;
    margin-left:4px;
    font-size: 1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.author-name{
    font-weight: 300px;
    margin-top: -10px;
}
@media only screen and (max-width: 1000px) {
    .article-page {
        width: 90%;
    }
}