.dashboard {
    display: flex;
    flex-wrap: wrap;
    border-radius: 20px;
    padding: 1.5rem 2rem;
    justify-content: space-between;

}


.dashboardHead {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 10px;
}


.lgo {
    font: 1.2rem sans-serif;
    font-weight: 400;
}


.barEnd {
    display: flex;
    justify-content: space-between;

}

.linkBttn {
    text-decoration: none;
    font-size: 1rem;

}

.avatar {
    vertical-align: middle;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    margin-top: -5px;

}



.btton {
    display: flex;
    border-radius: 8px;
    margin-right: 1rem;
    align-items: center;
    justify-content: center;
    background-color: rgb(131, 238, 131);
    padding: 0px 5px;
    cursor: pointer;
    color: white;
    text-decoration: none;
    padding: 2px 15px;
    font-weight: 400;
}

.btton:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}


.userAppLists {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;

}

.activeAppDetails {
    display: flex;
    flex-direction: column;
    width: 100%;

}

.imageAppDash {
    width: 100%;
    height: 500px;
    border-radius: 15px;
    margin: 15px auto;
}



.reviewsPart {
    margin: 15px auto;
    border-radius: 20px;
    padding: 1.5rem 2rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;

}


.medPart {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: auto;
    margin-top: 35px;
}


.detailsTitle {
    margin-left: 5px;
    font-size: 1.5rem;
    font-weight: 500;

}



@media only screen and (max-width: 800px) {

    .dashboard {
        margin: 0px;
    }

    .reviewsPart {
        margin: 0;

    }

}