.dashCard {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 400px;
    height: 200px;
    background-color: var(--cardColor);
    border-radius: 10px;
    margin: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    position: relative;
}

.status-div {
    background-color: var(--cardColor);
    padding: 0px 10px;
    border-radius: 10px;
    text-align: center;
    font-size: 14px;
    border: 2px solid #3498db;
    color: white;
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
    padding-bottom: 3px;
}

.dashCard:hover,
.revContainer:hover {
    cursor: pointer;
    background-color: var(--cardHover);
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.appRecords {
    display: flex;
    margin: 10px;
    justify-content: space-between;
}

.dashCardHead {
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

.appTitl {
    font-size: 1.3rem;
    font-weight: 600;
}

.detail {
    color: var(--ratingColor);
    font-weight: 100;
}

.buttons-card {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    height: 80px;
    align-items: center;
}

.card-btn,
.card-btn-promot {
    display: flex;
    justify-content: center;
    width: 200px;
    border-radius: 8px;
    padding: 10px 10px;
    margin: 10px;
    font-weight: 500;
    cursor: pointer;
    background-color: rgb(131, 238, 131);

}

.card-btn {
    background-color: silver;
}


@media only screen and (max-width: 1200px) {

    .dashCard {
        width: 300px;
    }
}