.main {

  background-image: linear-gradient(25deg, #784BA0 30%, #130C20 100%);

  display: flex;
  flex-direction: column;
  margin: 4rem 5rem;
  border-radius: 20px;

  padding: 1.5rem 2rem;

}


.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.navigation {
  display: flex;

}

.logo {
  font: 1.2rem sans-serif;
  font-weight: 400;
}

.link {
  text-decoration: none;
  margin-right: 1rem;
  color: #ebdaff;
}

.submitButton {
  display: flex;
  border-radius: 8px;
  margin-right: 1rem;
  align-items: center;
  justify-content: center;
  background-color: rgb(4, 142, 4);
  padding: 0px 5px;

}

.submitButton:hover,
.addBtn:hover {

  cursor: pointer;
  box-shadow: 1px 2px 5px 0px rgba(203, 177, 177, 0.75);
  -webkit-box-shadow: 1px 2px 5px 0px rgba(203, 177, 177, 0.75);
  -moz-box-shadow: 1px 2px 5px 0px rgba(203, 177, 177, 0.75);
}



.linkBtn {
  text-decoration: none;
  color: beige;
  padding: 2px 5px;
  font-size: .8rem;
  color: #ebdaff;
}

.avatar {
  vertical-align: middle;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  margin-top: -5px;

}


.title {
  width: 100%;
  text-align: center;
  font-size: 3rem;
  font-weight: 500;
  margin-top: 60px;
  ;
  initial-letter: Uppercase;
}

.titleSpn {
  color: rgb(254, 23, 80);
  font-weight: 500;
  display: inline-block;
}


.mainAbt {
  display: flex;
  width: 100%;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  font-size: 1.5rem;
  color: rgb(194, 189, 189);
  white-space: pre-wrap;
  margin: 15px;
}


.addBtn {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  display: flex;
  justify-content: center;
  background-color: rgb(4, 142, 4);
  border-radius: 8px;
  padding: 10px 60px;
  margin: 10px auto;
  font-weight: 500;
}



.topApps {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 10px;

}

.topTitle {
  display: flex;
  font-size: 1.5rem;
  font-weight: 400;
  margin-top: 60px;
  margin-left: 20px;
  margin-bottom: 20px;
  justify-content: flex-start;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px;
  margin-bottom: 20px;
  width: 280px;
  border-radius: 15px;
  background-color: rgba(245, 245, 245, 0.942);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  color: black;
}



.cardImage {
  width: 280px;
  height: 250px;
  border-radius: 15px;
}












.cardH5 {
  display: block;
  display: -webkit-box;
  height: 3.9em;
  line-height: 1.3em;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0px;
}

.card h2 {
  margin: 10px 0px;
  color: #fe1750;
}

.card h6 {
  margin: 10px 0px;
}

.card:hover {
  cursor: pointer;
  color: #fe1750;

}



@media only screen and (max-width: 800px) {

  .main {

    margin: 0px 2px;
  }

  .logo {
    display: none;
  }

  #lang {
    display: none;
  }

  .navigation {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

}