.main {
  display: flex;
  flex-direction: column;

  margin-top: 2px;
  border-radius: 20px;
  padding: 1.5rem 2rem;


}




.title {
  width: 100%;
  text-align: center;
  font-size: 3rem;
  font-weight: 500;
  margin-top: 60px;
  initial-letter: Uppercase;
  color: var(--textColor);
}

.titleSpn {
  color: var(--spanTitle);
  font-weight: 500;
  display: inline-block;
}

.paragraph {
  font-size: 1.5rem;
  font-weight: 500;
}

.mainAbt {
  display: flex;
  width: 100%;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  font-size: 1.5rem;
  color: var(--aboutText);
  white-space: pre-wrap;
  margin: 15px;
}


.addBtn {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: flex;
  justify-content: center;
  background-color: var(--btnbgColor);
  border-radius: 8px;
  padding: 10px 60px;
  margin: 10px auto;
  font-weight: 500;
  text-decoration: none;
  color: var(--btnColor);
}



.topApps {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 10px;

}

.topTitle {
  display: flex;
  font-size: 1.5rem;
  font-weight: 400;
  margin-top: 60px;
  margin-left: 20px;
  margin-bottom: 20px;
  justify-content: flex-start;
}

.input-container {
  position: relative;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
}

.search {
  display: flex;
  justify-content: center;
  width: 90%;
  margin: auto;
  height: 40px;
  border-radius: 15px;
  margin-bottom: 30px;
  font-size: 1rem;
  padding-left: 10px;
  border: var(--searchBorder);
  outline: 0;


}



.clear {
  position: absolute;
  top: 7px;
  right: 5%;
  width: 30px;
  height: 30px;
  color: black;
  border-radius: 50%;
  background-color: rgb(194, 193, 193);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  visibility: hidden;
}

input[type="text"]:not(:placeholder-shown)+.clear {
  visibility: visible;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px;
  margin-bottom: 20px;
  width: 280px;
  border-radius: 10px;
  color: var(--unhoverText);
}

.card:hover {
  background-color: rgba(245, 245, 245, 0.942);
  background-color: var(--cardColor);
  box-shadow: var(--bxShadow);
  cursor: pointer;
  color: var(--textColor);
}

.cardImage {
  width: 280px;
  height: 200px;
  border-radius: 10px;
  background-color: var(--imageBackground);
  object-fit: cover;
  border: 1px solid blueviolet;
}












.cardH5 {
  display: block;
  display: -webkit-box;
  max-height: 3.9em;
  line-height: 1.3em;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0px;

}



.card h2 {
  margin: 10px 0px;
  font-weight: 600;
  color: var(--textColor);
}

.grey-line {
  display: flex;
  height: 1px;
  width: 90%;
  background-color: gray;
  margin-top: 10px;
  margin-bottom: 3px;
}

.card h6 {
  margin: 0px;
  margin-bottom: 10px;
}


.rating {
  margin: 17px 10px;
  font-weight: 400;
  color: var(--ratingColor);
  display: flex;
  align-items: center;
}

.rating span {
  width: 5px;
}

.myHeadCard {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.sitemap-div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 10px;
  width: 100%;
  margin-bottom: 20px;
}

.sitemap-div h2 {
  font-size: 1.3rem;
  font-weight: 700;
}

.sitemap-div div {
  margin-left: 10px;
}

.sitemap-div a {
  text-decoration: none;
  font-size: 1rem;

}

@media only screen and (max-width: 800px) {

  .main {

    margin: 0px 2px;
  }

  .logo {
    display: none;
  }

  #lang {
    display: none;
  }

  .navigation {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .sitemap-div {
    display: flex;
    flex-direction: column;
    margin: 0px 15px;
    justify-content: center;
    align-items: center;
  }

  .sitemap-div div {
    margin-left: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .sitemap-div a {
    margin: 5px;
    font-size: 1.5rem;
  }

}


@media only screen and (max-width: 400px) {
  .addBtn {
    padding: 10px 20px;
  }
}