.newContainer {
    margin: 4rem 0px;
    border-radius: 20px;
    padding: 1.5rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}


.newSection {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}


.topTitle {
    display: flex;
    font-size: 1.5rem;
    font-weight: 400;
    margin-top: 60px;
    margin-left: 20px;
    margin-bottom: 20px;
    justify-content: flex-start;
}


.newCard {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    margin-bottom: 20px;
    width: 290px;
    border-radius: 15px;
    color: rgb(223, 219, 219);
    position: relative;



}

.newCard:hover {
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: rgba(245, 245, 245, 0.942);
    background-color: #202438;
    color: white;
}

.newCardImage {
    width: 290px;
    height: 250px;
    border-radius: 15px;
    position: relative;
    text-align: center;
    background-color: rgb(159, 159, 164);

}



.gradnt {
    display: flex;
    align-items: flex-end;
    position: absolute;
    width: 290px;
    height: 250px;
    border-radius: 15px;
    top: 10;
    left: 10;
    background: rgb(53, 53, 57);
    background: linear-gradient(360deg, #3d1f57 22%, rgba(0, 0, 0, 0) 68%);


}


.newCard h2 {
    margin: 10px 0px;
    padding: 10px;
    color: antiquewhite;
}

.newCardH5 {
    display: block;
    display: -webkit-box;
    height: 3.9em;
    line-height: 1.3em;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0px;
    margin: 15px 0px;
}



.newCard h6 {
    margin: 10px 0px;
}




.newBtn {
    display: flex;
    justify-content: center;
    background-color: rgb(4, 142, 4);
    border-radius: 8px;
    padding: 10px 60px;
    margin: 10px auto;
    font-size: 1.2rem;
    font-weight: 500;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.35),
        0 6px 20px 0 rgba(0, 0, 0, 0.35);


}

.newBtn:hover {
    cursor: pointer;

}

@media only screen and (max-width: 800px) {

    .newContainer {
        margin: 2px;
        margin-top: 15px;

    }




}