.plans {
    background-image: linear-gradient(25deg, #c9a0ee 30%, #c3bdc8 100%);
    display: flex;
    flex-wrap: wrap;
    margin: 4rem 5rem;
    border-radius: 20px;
    height: 600px;
    padding: 1.5rem 2rem;
    justify-content: space-between;
}


.CardPlan {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px;
    margin-bottom: 20px;
    width: 380px;
    border-radius: 15px;
    background-color: rgba(245, 245, 245, 0.942);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color: black;
}