.replayContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
    width: 30%vw;
    transition: height 3s ease-in-out;
    margin-left: 50px;
    color: black;
    margin-bottom: 10px;
    overflow: hidden;

}

.replayTo {
    margin-right: 10px;
    border-radius: 10px;
    outline: none;
    padding-left: 25px;
    border: 0px transparent;
    margin-top: 20px;
    padding: 10px;
    resize: none;
    background-color: rgb(228, 227, 223);
    width: 90%;
    position: relative;
}

.replayToBtn {
    position: absolute;
    bottom: 1px;
    right: 18px;
    background-color: rgb(47, 45, 45);
    color: #faf8f8;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    height: 35px;
    width: 35px;
    border-radius: 50px;
}

.dividers {
    width: 95%;
    height: 1px;
    background-color: rgb(27, 4, 4);
}



@media only screen and (max-width: 800px) {




    .replayContainer,
    .replay {
        width: 85%;

    }

    .replayTo {
        width: 70%;

    }

}