.reviewCard {
    display: flex;
    width: 400px;
    flex-direction: column;
    margin: 15px;
    color: rgb(23, 11, 11);
    position: relative;
    cursor: pointer;

}

.reviewCard:hover {
    background-color: aliceblue;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.reviewer {
    display: flex;
}

.reviewAvatar {
    vertical-align: middle;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    margin-top: -5px;
    margin-right: 10px;
}

.userNameRev {
    font-weight: 600;
    font-size: 1rem;
}



@media only screen and (max-width: 800px) {
    .reviewCard {
        width: 90%;
        margin: 15px 0px;
        padding-left: 8px;

    }
}