.resultCard {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    background-color: var(--cardColor);
    border-radius: 10px;
    margin-bottom: 10px;
    color: var(--unhoverText);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 1px 0 rgba(0, 0, 0, 0.19);

}



.resultCard:hover {
    cursor: pointer;
    color: var(--textColor);
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.head-card {
    display: flex;
    align-items: flex-start;
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.square {
    height: 70px;
    width: 70px;
    border-radius: 5px;
    margin-top: 5px;
}

.head-card-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 15px;
}

.rating-search {
    margin: 0;
    font-weight: 400;
    color: #b9b5c1;
    display: flex;
    align-items: center;
}

.rating-search span {
    width: 5px;
}

.app-name {
    margin: 0px;

    font-size: 1.5rem;

}

/* we add this 18/7/2023*/
.small-descrip {
    display: -webkit-box;
    /* fallback for older browsers */
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    /* number of lines to show */
    line-clamp: 1;
    /* number of lines to show */
    -webkit-box-orient: vertical;
    box-orient: vertical;
}

.divid {
    display: flex;
    width: 100%;
    height: 1px;
    background-color: #8e8a8a;
}


.secription-search {
    margin: 10px 15px;
    font-size: 1rem;
    max-height: 65px;
    /* we add this 18/7/2023*/

    display: -webkit-box;
    /* fallback for older browsers */
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    /* number of lines to show */
    line-clamp: 3;
    /* number of lines to show */
    -webkit-box-orient: vertical;
    box-orient: vertical;

}