.signPage {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;

}


.inputPart {
    margin: 30px;
    border-radius: 15px;
    width: 500px;
    height: 80vh;
    display: flex;
    flex-direction: column;
    padding: 40px;
    position: relative;

}

.already {
    position: absolute;
    top: 60px;
    right: 15px;
    display: flex;
    justify-content: center;
    color: #616e7f;
}

.alreadyP {
    margin: 0;
}

.already a {
    margin-left: 5px;
    margin-top: 2px;
    height: 20px;
    border-radius: 10px;
    border: .3px solid grey;
    padding: 0px 15px;
    padding-top: 2px;
    font-size: 13px;
    cursor: pointer;
    text-decoration: none;
    color: var(--textColor);
}

.clossy {
    font-size: 1.5rem;
    font-weight: 400;
    cursor: pointer;
    position: absolute;
    top: 30px;
    left: 30px;
}

.inputPart h3 {
    margin-top: 70px;
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.registerP {
    margin: 0;
    font-weight: 200px;
    color: #616e7f;
    margin-bottom: 30px;
}



.inputPart input {
    width: 90%;
    margin-right: 10px;
    height: 33px;
    border-radius: 10px;
    outline: none;
    background-color: var(--inputBg);
    padding-left: 5px;
    padding-left: 10px;
    margin-bottom: 10px;
    border: var(--searchBorder);
}

.or {
    display: flex;
    width: 90%;
    justify-content: center;
    margin: 5px;
}

.google-sign {
    display: flex;
    justify-content: center;
    padding-left: 10px;
    align-items: center;
    width: 90%;
    height: 37px;
    border-radius: 10px;
    border: var(--searchBorder);
    cursor: pointer;
    color: var(--textColor);
    font-weight: 500;
    background-color: var(--cardColor);
    margin-bottom: 20px;
    margin-top: 10px;
    min-height: 35px;
}

.google-s {
    margin-left: 20px;
}


.inputPart input[type=submit] {
    width: 25%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    justify-content: center;
    background-color: rgb(4, 142, 4);
    border-radius: 8px;
    color: var(--textColor);
    margin: 25px 0px;
    font-weight: 500;
}

.inputPart input[type=submit]:hover {
    cursor: pointer;
}

.div-submit {
    width: 25%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(4, 142, 4);
    border-radius: 8px;
    margin: 25px 0px;
    height: 30px;
}

.googleSpan {
    color: rgb(55, 87, 147);
    font-weight: 700;
    padding-left: 5px;
}


.googleSpan:hover {
    cursor: pointer;
}


.forget-pass {
    color: var(--unhoverText);
    display: flex;
    margin-right: 30px;
    justify-content: flex-end;
    cursor: pointer;
}


.terms {
    color: var(--textColor);
    font-size: 14px;
}

.terms a {
    text-decoration: none;
}

@media only screen and (max-width: 700px) {

    .inputPart {
        margin: 0%;
        padding-top: 100px;
        height: 100%;
        border-radius: 0px;

    }

}