.stepsIndicator {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 94%;
    margin: auto;
}

.lightGrey {
    background-color: var(--textColor);
    width: 100%;
    height: 10px;
    border-radius: 10px;
}

.progress {
    background-color: rgb(85, 180, 85);
    height: 100%;
    border-radius: 10px;
}