.stepOneContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    border-radius: 20px;
    padding: 1.5rem 2rem;
    justify-content: space-between;
}

.step-h {
    margin: 0;
    display: flex;
    justify-content: center;
    font-weight: 400;
    margin-top: 4rem;
}

.planzz {
    display: flex;
    flex-wrap: wrap;
    border-radius: 20px;
    padding: 1.5rem 2rem;
    justify-content: space-between;
    position: relative;

}

.shiftContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
}

.planza {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}