.stepOneContainer {

    background-image: linear-gradient(25deg, #c9a0ee 30%, #784BA0 100%);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 4rem 5rem;
    border-radius: 20px;
    padding: 1.5rem 2rem;
    justify-content: space-between;
}

.planz {
    display: flex;
    flex-wrap: wrap;
    margin: 20px 0px;
    padding: 1.5rem 2rem;
    justify-content: space-between;
}