.stepOneContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 4rem 5rem;
    border-radius: 20px;
    padding: 1.5rem 2rem;
    justify-content: space-between;
}

.planz {
    display: flex;
    flex-wrap: wrap;
    margin: 20px 0px;
    padding: 1.5rem 2rem;
    justify-content: space-between;
}

.shiftContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 500px;
}