.toast-container {
    height: 70px;
    width: 310px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(47, 0, 255);
    position: absolute;
    z-index: 1000;
    margin: auto 0px;
    top: 30%;
    border-radius: 15px;
}





.message {
    margin-left: 15px;
}