@import url('https://fonts.googleapis.com/css?family=Lobster');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #cbcbcbc4;
  /* background-image: url("/public/assets/images/bk.jpg");*/
  color: azure;
  background-color: #202124;
  padding: 10px 5rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', 'Lobster'
    monospace;
}


@media screen and (max-width: 800px) {
  body {

    padding: 0px 2px;
  }

}


:root {
  --bgColor: #0000;
  --cardColor: #202438;
  --notifyColor: #161927;
  --btnbgColor: rgb(4, 142, 4);
  --btnColor: rgb(240, 255, 255);
  --bxShadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  --textColor: white;
  --ratingColor: #b9b5c1;
  --unhoverText: rgb(223, 219, 219);
}