@import url('https://fonts.googleapis.com/css?family=Lobster');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #cbcbcbc4;
  /* background-image: url("/public/assets/images/bk.jpg");*/
  color: azure;
  background-color: #202124;
  padding: 10px 5rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', 'Lobster'
    monospace;
}


@media screen and (max-width: 800px) {
  body {

    padding: 0px 2px;
  }

}